.btn-error, .btn-error:link, .btn-error:active, .btn-error:visited, .btn-normal, .btn-normal:link, .btn-normal:active, .btn-normal:visited, .btn-ok, .btn-ok:link, .btn-ok:active, .btn-ok:visited, .outside-button, .outside-button:link, .outside-button:active, .outside-button:visited {
  display: inline-block;
  width: 100%;
  color: #FFF;
  text-align: center; }

.btn-error, .btn-error:link, .btn-error:active, .btn-error:visited {
  border-style: solid;
  border-color: #ff5644;
  border-radius: 4px;
  border-width: 1px;
  background-color: #ff5644; }

.btn-error:disabled {
  background-color: #71706f;
  color: #EEE;
  border-color: #71706f; }

.btn-normal, .btn-normal:link, .btn-normal:active, .btn-normal:visited {
  border-style: solid;
  border-color: #96f0ff;
  border-radius: 4px;
  border-width: 1px;
  background-color: #96f0ff; }

.btn-normal:disabled {
  background-color: #71706f;
  color: #EEE;
  border-color: #71706f; }

.btn-ok, .btn-ok:link, .btn-ok:active, .btn-ok:visited {
  border-style: solid;
  border-color: #63ff75;
  border-radius: 4px;
  border-width: 1px;
  background-color: #63ff75; }

.btn-ok:disabled {
  background-color: #71706f;
  color: #EEE;
  border-color: #71706f; }

.outside-button, .outside-button:link, .outside-button:active, .outside-button:visited {
  border-style: solid;
  border-color: #ffc138;
  border-radius: 4px;
  border-width: 1px;
  background-color: #ffc138; }

.outside-button:disabled {
  background-color: #71706f;
  color: #EEE;
  border-color: #71706f; }
