@import "modules/reset";
@import "modules/base";

body {
  background-color: green;
}

a {
  color: #FFF;
  text-decoration: none;
}

.container {
  margin: 30px auto 0 auto;
  width: 604px;
  overflow: auto;
  position: relative;

  canvas {
    background-color: black;
    border: {
      width: 2px;
      color: #DDD;
      style: solid;
      radius: 6px;
    }
  }
}

#stats {
  width: 594px;
  background-color: #333;
  padding: 5px;
  font: {
    size: 20px;
    weight: bold;
  }
  margin-bottom: 5px;
  color: #FFF;
  overflow: auto;

  button {
    padding: 10px;
    float: right;
    font-size: 0.8em;
    line-height: 1.6em;
    border-radius: 6px;
    margin: 10px 10px 0;
  }

}

#score, #high-score {
  width: 25%;
  height: 50px;
  padding-top: 20px;
  float: left;
  margin-right: 5px;
  background-color: #000;
  overflow: auto;
  text-align: center;
}

#overlay {
  display: none;
  color: #FFF;
  font-size: 2em;
  position: absolute;
  left: 200px;
  top: 100px;

  a {
    display: block;
    margin-top: 10px;
    padding: 10px;
    border: {
      color: #fff;
      style: solid;
      width: 2px;
      radius: 12px;
    }
    transition: all 0.4s;
    background-color: green;

    &:hover {
      border-style: dotted;
      background-color: lighten(green, 10%);
    }
  }

  &.show {
    display: block;
  }
}