/* bog tablets */
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
        transform: translate(-50%, -50%);
    }

    .row {
        padding: 0 2%;
    }
}

/* tablets */
@media only screen and (max-width: 1023px) {
    body {
        font-size: 18px;
    }

    section {
        padding: 40px 0;
    }

    .long-copy {
        width: 80%;
        margin: 0 0 0 10%;
    }

    .steps-box {
        margin: 10px 0 0;
    }

    .steps-box:last-child {
        margin: 10px 0 0;
    }

    .works-steps {
        margin-bottom: 40px;
    }

    .works-steps:last-of-type {
        margin-bottom: 60px;
    }

    .app-screen {
        width: 50%;
    }

    .icon-small {
        width: 17px;
        margin: 0 10px 0;
    }

    .city-feature {
        font-size: 90%;
    }

    .plan-box {
        width: 100%;
        margin-left: 0;
    }

    .plan-price {
        font-size: 50%;
    }

    .contact-form {
        width: 80%;
    }

}

/* Small phones to small tablets */
@media only screen and (max-width: 767px) {
    .col {
        width: 100%;
    }

    .mobile-nav-icon {
        display: block;
        color: #EEE;
    }

    .main-nav {
        float: left;
        margin: 20px 0 0;
        display: none;
    }

    .main-nav li {
        padding: 5px 0;
        display: block;
    }

    .main-nav li:link,
    .main-nav li:visited {
        display: block;
        border: none;
    }

    .sticky .main-nav {
        margin: 10px 0 0;
        float: left;
        display: none;
    }

    .sticky .mobile-nav-icon {
        color: #555;
    }

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited{
        border: 0;
    }
}

/* Small phones */
@media only screen and (max-width: 480px) {

}