/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img, iframe, video, object {
  max-width: 100%; }

strong, b {
  font-weight: bold; }

* {
  z-index: 1; }

.grouping:before, .grouping:after {
  content: "";
  display: table; }

.grouping:after {
  clear: both; }

.float-left {
  float: left; }

.float-right {
  float: right; }

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none; }

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.5em;
  color: #fff;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffd6b3+8,fcb866+30,fcb866+30,fcb866+70,ffd6b3+86 */
  background: #ffd6b3;
  /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ffd6b3 8%, #fcb866 30%, #fcb866 30%, #fcb866 70%, #ffd6b3 86%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, #ffd6b3), color-stop(30%, #fcb866), color-stop(30%, #fcb866), color-stop(70%, #fcb866), color-stop(86%, #ffd6b3));
  background: linear-gradient(to right, #ffd6b3 8%, #fcb866 30%, #fcb866 30%, #fcb866 70%, #ffd6b3 86%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd6b3', endColorstr='#ffd6b3',GradientType=1 );
  /* IE6-9 */ }

.container {
  width: 330px;
  min-height: 400px;
  background-color: #666;
  overflow: auto;
  margin: 20px auto;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 0 10px 8px -8px #666;
          box-shadow: 0 10px 8px -8px #666; }
  .container #audio-image {
    position: relative;
    overflow: hidden;
    height: 200px;
    margin-bottom: 40px; }
    .container #audio-image .cover {
      width: 100%; }

#audio-info {
  text-align: center; }
  #audio-info .artist {
    font-weight: bold; }

input#volume {
  width: 95%;
  margin-left: 2%;
  -webkit-appearance: none !important;
     -moz-appearance: none !important;
          appearance: none !important;
  margin-bottom: 20px;
  height: 1px;
  background: #DDD; }
  input#volume slider-thumb {
    -webkit-appearance: none !important;
       -moz-appearance: none !important;
            appearance: none !important;
    background-image: url(../images/knob.png);
    background-repeat: no-repeat;
    height: 12px;
    width: 12px; }

.buttons {
  width: 90%;
  display: block;
  margin: 15px auto 15px 23px;
  overflow: auto; }
  .buttons #play, .buttons #pause, .buttons #stop, .buttons #previous, .buttons #next {
    width: 70px;
    height: 70px;
    float: left; }
    .buttons .hide#play, .buttons .hide#pause, .buttons .hide#stop, .buttons .hide#previous, .buttons .hide#next {
      display: none; }
  .buttons #play {
    margin-left: -2px;
    background: url(../images/play.png) no-repeat; }
  .buttons #pause {
    margin-left: -2px;
    background: url(../images/pause.png) no-repeat; }
  .buttons #stop {
    margin-left: 2px;
    background: url(../images/stop.png) no-repeat; }
  .buttons #previous {
    margin-top: 15px;
    background: url(../images/prev.png) no-repeat; }
  .buttons #next {
    margin-top: 15px;
    float: right;
    background: url(../images/next.png) no-repeat; }

#tracker {
  position: relative; }

#progress-bar {
  width: 80%;
  margin-left: 2%;
  margin-bottom: 20px;
  margin-top: 9px;
  height: 10px;
  background: url(../images/progress_bg.png) no-repeat;
  float: left; }

#progress {
  position: relative;
  top: -4px;
  background: url(../images/progress.png) no-repeat;
  height: 10px;
  display: inline-block; }

#duration {
  position: absolute;
  top: 0;
  right: 10px;
  padding: 4px 8px;
  background-color: #444;
  -webkit-border-radius: 5px;
          border-radius: 5px; }

#playlist {
  list-style: none; }
  #playlist li {
    cursor: pointer;
    margin: 5px; }
    #playlist li.active {
      font-weight: bold;
      padding: 3px;
      background-color: rgba(252, 184, 102, 0.59); }
