* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 300;
    /*Dzieki ustawieniu font-size dla calego dokumentu*/
    /*odwolania procentowe w reszcie elementów będą używały */
    /*tej wartości (tu ustawionej - 20px)jako bazowej*/
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/*//COMMON ELEMENTS//*/
section {
    padding: 80px 0;
}

.row {
    max-width: 1140px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*top right bottom left*/
    /*margin: 0 auto 0 auto;*/
    /*top+bottom left+right*/
    margin: 0 auto;
}

/*COMMON ELEMENTS END*/

.clear-float {
    clear: both;
    content: "";
}

header {
    /*Gradient funkcjonuje jak obrazek*/
    /*tutaj użyty tylko 1 kolor na początku i końcu*/
    /*jest częściowo przezroczysty i znajduje się nad obrazkiem tła*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(images/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    /*EFEKT TLA PO KTORYM PRZESUWA SIE STUFF*/
    background-attachment: fixed;
}

.hero-text-box {
    position: absolute;
    max-width: 1140px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box {
    padding: 1%;
}

/*//HEADINGS//*/

h1, h2, h3 {
    /*czyli 40px, bo bazowa to 20px*/
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1 {
    margin: 0 0 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin: 0 0 30px 0;
}

h3 {
    font-size: 110%;
    margin: 0 0 15px 0;
    letter-spacing: 0px;
}

/*after pozwala dodac element przy pomocy cssa*/
h2:after {
    display: block;
    width: 80%;
    margin: 10px auto 0 auto;
    height: 2px;
    content: "";
    background-color: #e67e22;
}

/*//HEADINGS END//*/

/*  PARAGRAPHS  */

.long-copy {
    line-height: 145%;
    width: 80%;
    margin: 0 10%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/*  PARAGRAPHS END */

/*  ICONS   */

.icon-big {
    font-size: 350%;
    display: block;
    color: #e67e22;
    text-align: center;
    margin: 0 auto 10px auto;
}

/*  ICONS END  */

/*/////////*/
/*BUTTONS*/
/*/////////*/

/*link visited to obsluga wygladu linkow*/
.btn:link,
.btn:visited,
input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
    transition: background-color 0.2s, boder-color 0.2s, color 0.2s;
    margin: 0 15px 0;
}

.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color: #e67e22;
    border: 1px solid #e67e22;
}

.btn-full:hover,
input[type=submit]:hover{
    background-color: #cf6d17;
    border: 1px solid #cf6d17;
}

.btn-full:active,
input[type=submit]:active{
    background-color: #bf6516;
    border: 1px solid #bf6516;
}

.btn-ghost:link,
.btn-ghost:visited {
    background-color: transparent;
    color: #8aacff;
    border: 1px solid #8aacff;
}

.btn-ghost:hover {
    color: #6894ff;
    border: 1px solid #6894ff;
}

.btn-ghost:active {
    color: #fff;
    border: 1px solid #6894ff;
    background: #6894ff;
}

/*/////////*/
/*BUTTONS END*/
/*/////////*/

/*//////////*/
/*NAVBAR*/
/*///////// */
.logo {
    height: 100px;
    width: auto;
    float: left;
    margin: 20px 0 0 0;
}

.main-nav {
    float: right;
    margin: 50px 0 0 0;
    list-style: none;
}

.main-nav li {
    display: inline-block;
    margin: 0 0 0 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    transition: border-bottom 0.2s;
    border-bottom: 2px solid transparent;
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    /*czyli 18 px (wzgledem html)*/
    font-size: 90%;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

/*//////////*/
/*NAVBAR END*/
/*///////// */

/*//////////*/
/*SECTIONS*/
/*///////// */

.section-features {
    height: 100vh;
}

.section-meals {
    padding: 0;
}

/*//////////*/
/*SECTIONS*/
/*///////// */

/*  MEALS  */

.meals-showcase {
    list-style: none;
    width: 100%;
    margin: 0;
}

.meals-showcase li {
    float: left;
    width: 25%;
    display: block;
    height: auto;
}

.meal-photo {
    background-color: #000;
    width: 100%;
    margin: 0;
    overflow: hidden;;
}

.meal-photo img {
    opacity: 0.6;
    width: 100%;
    height: auto;
    transform: scale(1.20);
    transition: transform 0.4s, opacity 0.4s;
}

.meal-photo img:hover {
    opacity: 1;
    transform: scale(1.05);
}

/*  MEALS END  */

/* STEPS */
.section-steps {
    background-color: #EEE;
}

.steps-box:first-child {
    text-align: right;
    padding: 0 3% 0 0;
    margin-top: 50px;
}

.steps-box:last-child {
    padding: 0 0 0 3%;
    margin-top: 70px;
}

.app-screen {
    width: 50%;
}

.works-step {
    margin: 0 0 50px 0;
}

.works-step div {
    color: #e67e22;
    border: solid 2px #e67e22;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    height: 40px;
    width: 40px;
    font-size: 130%;
    padding: 0 0 10px 0;
    float: left;
    margin: 0 20px 0 0;
}

.works-step p {
    /*MARGIN MUSI BYC WE FLOACIE*/
    /*margin: 0 0 0 30px;*/
}

.btn-app img {
    height: 50px;
    width: auto;
    margin: 0 10px 0;
}

.btn-app:link,
.btn-app:visited {
    border: 0px;
}

.works-step:last-of-type {
    margin-bottom: 80px;
}

/* STEPS END*/

/* CITIES */

.section-cities {
    height: 100vh;
}

.icon-small {
    color: #e67e22;
    /*padding: 0 0 20px 0;*/
    margin: 0 10px 0;
    font-size: 160%;
    float: left;
    display: inline-block;
    text-align: center;
    width: 30px;
    line-height: 100%;
    vertical-align: middle;
}

.city-feature {
    clear: left;
    margin: 0 0 5px;
}

.city-feature:last-of-type {
    margin: 0 0 20px 0;
}

.city-snapshot img {
    width: 100%;
    height: auto;
    margin: 0 0 15px 0;
}

/* CITIES END*/

/*LINKS*/

a:link,
a:visited {
    color: #e67e22;
    text-decoration: none;
    border-bottom: 1px solid #e67e22;
    padding: 0 0 3px;
    transition: color 0.2s, border-bottom 0.2s;
}

a:hover {
    color: #555;
    border-bottom: 1px solid #555;

}

/*LINKS END*/

/*  TESTIMONIALS */

.section-testimonials {
    height: 100vh;
    color: #fff;
    background: linear-gradient(
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)),
    url(images/back-customers.jpg) fixed;
    /* to fixed oznacza : */
    /*background-attachment: fixed;*/
}

blockquote {
    padding: 2% 2% 2% 10%;
    font-style: italic;
    line-height: 145%;
    position: relative;
}

cite{
    font-size: 90%;
    margin-top: 25px;
    display: block;
    position: relative;
}

cite img {
    border-radius: 50%;
    height: 50px;
    margin: 0 10px 0;
    vertical-align: middle;
}

blockquote:before{
    display: block;
    font-size: 300%;
    content: '\201C';
    position: absolute;
    top: 5px;
    left: 0px;
    color: #e67e22;
}

blockquote:after{
    display: block;
    font-size: 300%;
    content: '\201D';
    position: absolute;;
    bottom: -5px;
    right: 5px;
    color: #e67e22;
}


/* SECTION PLANS */

.section-plans {
    background-color: #EEE;
}

.plan-box {
    background-color: #FFF;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 2px 2px #e1e1e1;
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #EEE;
}

.plan-price {
    font-size: 200%;
    font-weight: 100;
    margin: 0 0 10px;
    color: #e67e22;
}

.plan-price span{
    /* ZMNIEJSZANA DO 50% JEST AKTUALNA WIELKOSC CZYLI 200% Z BAZOWEJ HTML*/
    font-size: 50%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 80%;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}

.plan-box div:last-child {
    text-align: center;
}

.plan-box div:first-child {
    background-color: #f8f8f8;
    border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
}

/* SECTION PLANS END */


/* SECTION FORMS */


.contact-form {
    width: 60%;
    margin: 0px auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #cccccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 10px 10px 0;
    vertical-align: middle;
}

*:focus {
    outline: none;
}

/* SECTION FORMS END*/

/* FOOTER */

footer {
    background-color: #333;
    font-size: 80%;
}

.float-nav {
    list-style: none;
    flaot: left;
}

.social-links {
    list-style:none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin: 5px 20px 0;
}

.footer-nav li:last-child,
.social-links li:last-child {
    display: inline-block;
    margin: 5px 0 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    border: none;
    text-decoration: none;
    color: #666;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #AAA;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}
.ion-social-facebook-outline,
.ion-social-twitter-outline,
.ion-social-googleplus-outline,
.ion-social-instagram-outline {
    transition: color 0.4s;
}
.ion-social-facebook-outline:hover {
    color: #364ccc;
}

.ion-social-twitter-outline:hover {
    color: #2230cc;
}

.ion-social-googleplus-outline:hover{
    color:#cc484c;
}

.ion-social-instagram-outline:hover {
    color:#633711
}
footer p {
    color: #666;
    text-align: center;
    margin: 50px 0px 20px;
    font-size: 100%;
}

/* FOOTER END*/


/*  TESTIMONIALS END*/
/*///////*/
/*TRASH*/
/*///////*/

/*ORANGE:   #e67e22 */