@import "modules/reset";
@import "modules/base";


#myCanvas, #myCanvas2 {
  border: {
    width: 1px;
    color: #2ca2af;
    style: solid;
  }
  width: 400px;
  height: 150px;
}

#myCanvas2 {
  width: 600px;
  height: 400px;
}