.add-post {
  %inputs {
    border: {
      color: #ccc;
      width: 1px;
      style: solid;
      radius: 5px;
    }
    padding: 3px;
    width: 97%;
  }

  input[type=text] {
    @extend %inputs;
    height: 20px;
  }

  select {
    @extend %inputs;
    height: 30px;
    width: 98.5%;
  }

  input[type=file] {
    width: 97%;
    padding: 3px;
  }

  textarea {
    @extend %inputs;
  }


  input[type=submit], button{
    float: right;
    display: inline-block;
    padding: 3px;
    border: {
      radius: 5px;
    };
    color: #222;
    background-color: #FFF;
    font-size: 0.8em;
    margin-right: 5px;
  }
}