* {
  z-index: 1;
}
//BASE STYLES
.grouping:before {
  content:"";
  display: table;
  //DISPLAY BLOCK GENERALNIE TEZ DZIALA
}
.grouping:after {
  @extend .grouping:before;
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

a {
  color: $link-color-base;
  text-decoration: none;
}

h2 {
  font-size: 25px;
}

ul, ol {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 80%;
  overflow: hidden;
}

