@import "modules/reset";
@import "modules/base";

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.5em;
  color: #fff;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffd6b3+8,fcb866+30,fcb866+30,fcb866+70,ffd6b3+86 */
  background: #ffd6b3; /* Old browsers */
  background: -moz-linear-gradient(left,  #ffd6b3 8%, #fcb866 30%, #fcb866 30%, #fcb866 70%, #ffd6b3 86%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #ffd6b3 8%,#fcb866 30%,#fcb866 30%,#fcb866 70%,#ffd6b3 86%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #ffd6b3 8%,#fcb866 30%,#fcb866 30%,#fcb866 70%,#ffd6b3 86%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd6b3', endColorstr='#ffd6b3',GradientType=1 ); /* IE6-9 */


}

.container {
  width: 330px;
  min-height: 400px;
  background-color: #666;
  overflow: auto;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow:  0 10px 8px -8px #666;

  #audio-image {
    position: relative;
    overflow: hidden;
    height: 200px;
    margin-bottom: 40px;

    .cover {
      width: 100%;
    }
  }
}

#audio-info {
  text-align: center;

  .artist {
    font-weight: bold;
  };

}

input#volume {
  width: 95%;
  margin-left: 2%;
  appearance: none !important;
  margin-bottom: 20px;
  height: 1px;
  background: #DDD;

  slider-thumb {
    appearance: none !important;
    background-image: url(../images/knob.png);
    background-repeat: no-repeat;
    height: 12px;
    width: 12px;
  }
}

.buttons {
  width: 90%;
  display: block;
  margin: 15px auto 15px 23px;
  overflow: auto;

  %part_button {
    width: 70px;
    height: 70px;
    float: left;
    &.hide {
      display: none;
    }
  }

  #play {
    @extend %part_button;
    margin-left: -2px;
    background: url(../images/play.png) no-repeat;
  }

  #pause {
    @extend %part_button;
    margin-left: -2px;
    background: url(../images/pause.png) no-repeat;
  }

  #stop {
    @extend %part_button;
    margin-left: 2px;
    background: url(../images/stop.png) no-repeat;
  }

  #previous {
    @extend %part_button;
    margin-top: 15px;
    background: url(../images/prev.png) no-repeat;
  }

  #next {
    @extend %part_button;
    margin-top: 15px;
    float: right;
    background: url(../images/next.png) no-repeat;
  }
}

#tracker {
  position: relative;
}

#progress-bar {
  width: 80%;
  margin-left: 2%;
  margin-bottom: 20px;
  margin-top: 9px;
  height: 10px;
  background: url(../images/progress_bg.png) no-repeat;
  float: left;
}

#progress {
  background: url(../images/progress.png) no-repeat;
  height: 10px;
  display: inline-block;
}

#duration {
  position: absolute;
  top: 0;
  right:10px;
  padding: 4px 8px;
  background-color: #444;
  border-radius: 5px;
}

#playlist {
  list-style: none;

  li {
    cursor: pointer;
    margin: 5px;

    &.active {
      font-weight: bold;
      padding: 3px;
      background-color: rgba(252, 184, 102, 0.59);
    }
  }
}