.button-action {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00b7ea+0,0078ba+46,009ec3+100 */
  background: #00b7ea;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDBiN2VhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNDYlIiBzdG9wLWNvbG9yPSIjMDA3OGJhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwOWVjMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  /* FF3.6-15 */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #00b7ea), color-stop(46%, #0078ba), color-stop(100%, #009ec3));
  /* Chrome4-9,Safari4-5 */
  background: -webkit-linear-gradient(-45deg, #00b7ea 0%, #0078ba 46%, #009ec3 100%);
  /* Chrome10-25,Safari5.1-6 */
  /* Opera 11.10-11.50 */
  /* IE10 preview */
  background: -webkit-linear-gradient(315deg, #00b7ea 0%, #0078ba 46%, #009ec3 100%);
  background: linear-gradient(135deg, #00b7ea 0%, #0078ba 46%, #009ec3 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=1 );
  /* IE6-8 fallback on horizontal gradient */ }

.button-action:hover {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00558e+0,00a8e5+46,00589b+100 */
  background: #00558e;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDA1NThlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNDYlIiBzdG9wLWNvbG9yPSIjMDBhOGU1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNTg5YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  /* FF3.6-15 */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #00558e), color-stop(46%, #00a8e5), color-stop(100%, #00589b));
  /* Chrome4-9,Safari4-5 */
  background: -webkit-linear-gradient(-45deg, #00558e 0%, #00a8e5 46%, #00589b 100%);
  /* Chrome10-25,Safari5.1-6 */
  /* Opera 11.10-11.50 */
  /* IE10 preview */
  background: -webkit-linear-gradient(315deg, #00558e 0%, #00a8e5 46%, #00589b 100%);
  background: linear-gradient(135deg, #00558e 0%, #00a8e5 46%, #00589b 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00558e', endColorstr='#00589b',GradientType=1 );
  /* IE6-8 fallback on horizontal gradient */ }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img, iframe, video, object {
  max-width: 100%; }

strong, b {
  font-weight: bold; }

body {
  background-color: #DDD; }

* {
  z-index: 1; }

.grouping:before, .grouping:after {
  content: "";
  display: table; }

.grouping:after {
  clear: both; }

.float-left {
  float: left; }

.float-right, .button-narrow {
  float: right; }

/*-------------
BUTTONS
-------------*/
.button {
  border: 2px solid #333;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  color: #333;
  padding: 10px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  -webkit-transition-property: all, background-color;
  transition-property: all, background-color;
  -webkit-transition-duration: 0.3s, 1s;
          transition-duration: 0.3s, 1s;
  -webkit-transition-delay: .5s, 0s;
          transition-delay: .5s, 0s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  display: block;
  -webkit-transform: scale(0.9, 0.9);
      -ms-transform: scale(0.9, 0.9);
          transform: scale(0.9, 0.9);
  letter-spacing: 1.5px; }
  .button:hover, .button:focus {
    color: #EEE;
    background-color: #333;
    border-color: #EEE; }

.wrapper .button:hover {
  -webkit-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1); }

.button-narrow {
  width: 25%;
  margin: 1% 2%; }

section {
  margin: 50px; }

h1 {
  font-size: 70px;
  line-height: 1.4;
  font-weight: bold;
  color: #0072ae; }

h2 {
  font-size: 26px;
  font-style: italic;
  color: #eb2428;
  margin-bottom: 10px; }

p {
  font: normal normal 18px/1.6 Georgia, "Times New Roman", serif; }

.column-title {
  font-style: normal;
  color: #0072ae;
  font-weight: bold; }

.wrapper {
  background-color: #63ff75;
  margin: 0 auto;
  max-width: 960px;
  width: 100%; }
  .wrapper > div {
    float: left;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    margin: 2%;
    width: 30%; }
    .wrapper > div:first-child {
      margin-left: 1%; }
    .wrapper > div:last-child {
      margin-right: 1%; }
    .wrapper > div a:last-child {
      margin-top: 10px; }

/*
-------------
INTRO (INDEX)
-------------
*/
.intro {
  margin-top: 200px; }

.intro-wrap {
  max-width: 660px;
  width: 100%;
  margin-right: 60px;
  float: left; }

.premium-wrap {
  width: 300px;
  float: right;
  margin: 120px 60px 0 0; }

.button-action {
  margin: 0;
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
  color: #EEE;
  border-color: #ffa73c;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .button-action:hover {
    border-color: #ff3c74; }

/*
------------
----NAV-----
------------
*/
nav {
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  background-color: white;
  position: fixed;
  left: 0;
  right: 0;
  top: 0; }
  nav figure {
    position: absolute;
    top: -40px;
    left: 50px; }
    nav figure img:hover {
      -webkit-animation-name: sharkyRoll;
              animation-name: sharkyRoll;
      -webkit-animation-duration: 1.5s;
              animation-duration: 1.5s;
      -webkit-animation-timing-function: linear;
              animation-timing-function: linear; }

@-webkit-keyframes sharkyRoll {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  20% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg); }
  40% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg); }
  60% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }
  80% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  90% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes sharkyRoll {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  20% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg); }
  40% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg); }
  60% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }
  80% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  90% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.mobile-menu-icon {
  font-size: 3em;
  float: right;
  margin: 10px 20px 0 0;
  display: none;
  cursor: pointer; }

.primary-nav {
  float: right;
  list-style: none; }
  .primary-nav a {
    text-decoration: none; }
  .primary-nav > li {
    float: left; }
    .primary-nav > li:first-child a {
      border-left: none; }
    .primary-nav > li:nth-child(even) a {
      background-color: #a0ff9c; }
    .primary-nav > li:nth-child(odd) a {
      background-color: #fffb99; }
    .primary-nav > li:nth-child(4) a {
      color: #000;
      font-weight: 700; }
    .primary-nav > li > a {
      position: relative;
      z-index: 100;
      float: left;
      padding: 25px 0;
      width: 150px;
      border-left: 1px solid #cc484c; }
      .primary-nav > li > a:hover {
        background-color: #cc484c;
        color: white; }

.has-sub-menu {
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }
  .has-sub-menu ul {
    z-index: 10;
    position: absolute;
    top: 70px;
    width: 150px;
    border: 2px solid #DDD;
    border-top: 0;
    -webkit-border-radius: 0 0 10px 10px;
            border-radius: 0 0 10px 10px;
    overflow: hidden;
    display: none;
    background-color: white; }
    .has-sub-menu ul li a {
      position: relative;
      z-index: 5;
      display: block;
      padding: 25px 0; }
      .has-sub-menu ul li a:hover {
        background-color: #cc484c;
        color: white; }
  .has-sub-menu:hover ul {
    display: block;
    -webkit-animation-name: slideDown;
            animation-name: slideDown;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease; }

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0; }
  95% {
    -webkit-transform: translateY(3%);
            transform: translateY(3%); }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1; } }

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0; }
  95% {
    -webkit-transform: translateY(3%);
            transform: translateY(3%); }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1; } }

nav li a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  color: #766e65; }

@media screen and (max-width: 1023px) {
  nav figure {
    display: none; } }

/*
------------------------------
 MENU MOBILNE
------------------------------*/
@media screen and (max-width: 900px) {
  .mobile-menu-icon {
    display: block; }
  nav {
    position: static; }
    nav .primary-nav {
      width: 100%;
      height: 0;
      overflow: hidden;
      -webkit-transition: all 0.4s;
      transition: all 0.4s; }
      nav .primary-nav.nav-active {
        height: 340px; }
      nav .primary-nav li {
        float: right;
        width: 100%; }
        nav .primary-nav li a {
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          text-align: right;
          padding: 15px 25px 15px 0;
          width: 100%;
          border-left: none;
          border-bottom: 1px solid #880000;
          font-size: 13px; }
    nav .has-sub-menu:hover ul {
      -webkit-animation: none;
              animation: none; }
    nav .has-sub-menu ul {
      position: static;
      display: block;
      border: none;
      -webkit-border-radius: 0;
              border-radius: 0;
      width: 100%; } }

/*SHARKS
___________________*/
.content-block .figure {
  float: left; }

.content-block p:last-of-type {
  clear: both; }

#jaws div {
  background-color: #3b86ff;
  color: #EEE; }
  #jaws div h1 {
    color: #EEE; }
  #jaws div .button-narrow {
    color: #EEE;
    border-color: #EEE;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    background-color: #333;
    -webkit-transition: color 0.2s, border-color 0.2s, background-color 2s, -webkit-transform 1s 0.3s;
    transition: color 0.2s, border-color 0.2s, background-color 2s, -webkit-transform 1s 0.3s;
    transition: color 0.2s, border-color 0.2s, background-color 2s, transform 1s 0.3s;
    transition: color 0.2s, border-color 0.2s, background-color 2s, transform 1s 0.3s, -webkit-transform 1s 0.3s; }
    #jaws div .button-narrow:hover {
      color: #333;
      border-color: #333;
      background-color: #EEE; }
    #jaws div .button-narrow:active {
      -webkit-transform: rotate(180deg) translate(10px);
          -ms-transform: rotate(180deg) translate(10px);
              transform: rotate(180deg) translate(10px); }

.figure {
  overflow: hidden;
  border-color: #cc484c;
  border-width: 5px;
  border-style: solid; }
  .figure img {
    float: left;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
            transform: scale(1, 1); }
    .figure img:hover {
      -webkit-transform: scale(1.3, 1.3) rotate(15deg);
          -ms-transform: scale(1.3, 1.3) rotate(15deg);
              transform: scale(1.3, 1.3) rotate(15deg); }
