/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img, iframe, video, object {
  max-width: 100%; }

strong, b {
  font-weight: bold; }

* {
  z-index: 1; }

.grouping:before, .grouping:after {
  content: "";
  display: table; }

.grouping:after {
  clear: both; }

.float-left {
  float: left; }

.float-right {
  float: right; }

a {
  color: #333;
  text-decoration: none; }

h2 {
  font-size: 25px; }

ul, ol {
  margin: 0;
  padding: 0; }

.container {
  margin: 0 auto;
  width: 80%;
  overflow: hidden; }

.main-header {
  height: 50px;
  background-color: #333;
  overflow: hidden;
  margin-bottom: 20px; }
  .main-header .branding {
    width: 50%;
    float: left; }
    .main-header .branding h1 {
      padding: 5px 0 0 70px;
      font-size: 2em;
      color: #fff; }
    .main-header .branding img {
      position: absolute;
      width: 60px;
      height: auto; }
  .main-header .main-nav {
    float: right;
    width: 50%; }
    .main-header .main-nav ul {
      float: right; }
      .main-header .main-nav ul li {
        display: inline-block;
        padding: 10px;
        font-weight: bold;
        text-transform: uppercase; }
        .main-header .main-nav ul li a {
          color: #fff; }
          .main-header .main-nav ul li a:active, .main-header .main-nav ul li a:visited {
            color: #fff; }

@media screen and (max-width: 830px) {
  .main-header {
    height: 100px; }
    .main-header .branding {
      width: 100%; }
    .main-header .main-nav {
      margin-top: 10px;
      float: left;
      width: 100%; } }

.sidebar {
  float: right;
  width: 30%; }

.search {
  float: right; }
  .search input[type=search] {
    width: 85%;
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    border-color: #ccc;
    padding: 3px;
    height: 20px; }
  .search input[type=image] {
    float: right;
    height: 20px;
    margin: 2px 5px 0; }

.sub-nav {
  padding: 20px 0; }
  .sub-nav li {
    font-size: 16px;
    font-weight: bold;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom-color: #333;
    padding: 5px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    .sub-nav li:hover, .sub-nav li:active {
      border-color: red; }
      .sub-nav li:hover a, .sub-nav li:active a {
        color: red; }
    .sub-nav li a {
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      color: #333; }

.ad img {
  width: 100%; }

@media screen and (max-width: 900px) {
  .sidebar {
    margin: auto;
    float: none;
    width: 80%; }
    .sidebar .search {
      float: none; }
  .ad {
    height: 0px;
    overflow: hidden; } }

.content {
  float: left;
  width: 63%;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  padding: 10px; }

article {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ccc;
  padding: 10px 0 20px 0; }
  article > p {
    margin: 10px 5px; }
  article:last-of-type {
    border-style: none; }
  article h2 {
    margin: 0; }
  article .readmore {
    display: block;
    background-color: #ddd;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-border-radius: 8px;
            border-radius: 8px;
    border-color: #333;
    border-width: 1px;
    border-style: solid;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    article .readmore:hover {
      background-color: #c4c4c4; }
  article .meta {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    background-color: #ddd; }
    article .meta span {
      float: right;
      margin-right: 10px; }
  article img {
    width: 80%;
    display: block;
    margin: auto; }

@media screen and (max-width: 900px) {
  .content {
    margin: auto;
    width: 80%;
    float: none; } }

.main-footer {
  background: #333;
  color: #fff;
  min-height: 180px;
  margin-top: 20px;
  overflow: auto; }
  .main-footer a {
    color: #fff; }
  .main-footer .copy {
    padding: 20px 0 0; }
  .main-footer .footer-left {
    float: left; }
  .main-footer .footer-right {
    float: right; }
  .main-footer .footer-nav {
    float: left;
    margin: 10px 30px; }

.comments {
  margin-top: 20px; }
  .comments .comment-left {
    float: left;
    width: 20%; }
    .comments .comment-left img {
      width: 100%; }
  .comments .comment-right {
    float: right;
    width: 75%; }
  .comments .comment {
    margin-top: 10px; }
  .comments .content-form {
    margin-top: 20px;
    padding: 5px 20px 10px 20px;
    background-color: #333;
    color: #fff;
    -webkit-border-radius: 10px;
            border-radius: 10px; }
    .comments .content-form input[type=text],
    .comments .content-form input[type=email], .comments .content-form textarea, .comments .content-form .add-post select, .add-post .comments .content-form select {
      border-color: #ccc;
      border-width: 1px;
      border-style: solid;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      padding: 3px;
      width: 97%; }
    .comments .content-form input[type=text],
    .comments .content-form input[type=email] {
      height: 20px; }
    .comments .content-form input[type=submit], .comments .content-form button {
      float: right;
      display: inline-block;
      padding: 8px 16px;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      border-color: #ccc;
      color: #fff;
      background-color: #777;
      font-size: 1em;
      margin-right: 5px; }

.add-post .comments .content-form input[type=text], .comments .content-form .add-post input[type=text], .add-post
.comments .content-form input[type=email],
.comments .content-form .add-post input[type=email], .add-post .comments .content-form textarea, .comments .content-form .add-post textarea, .add-post input[type=text], .add-post select, .add-post textarea {
  border-color: #ccc;
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 3px;
  width: 97%; }

.add-post input[type=text] {
  height: 20px; }

.add-post select {
  height: 30px;
  width: 98.5%; }

.add-post input[type=file] {
  width: 97%;
  padding: 3px; }

.add-post input[type=submit], .add-post button {
  float: right;
  display: inline-block;
  padding: 3px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  color: #222;
  background-color: #FFF;
  font-size: 0.8em;
  margin-right: 5px; }
