/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img, iframe, video, object {
  max-width: 100%; }

strong, b {
  font-weight: bold; }

* {
  z-index: 1; }

.grouping:before, .grouping:after {
  content: "";
  display: table; }

.grouping:after {
  clear: both; }

.float-left {
  float: left; }

.float-right {
  float: right; }

body {
  font-family: 'San Francisco', 'Helvetica Neue', sans-serif;
  background-color: #ccb072; }

.new-note-btn {
  font-size: 1.5rem;
  padding: 10px;
  border-width: 0;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: #333;
  color: #fff;
  position: absolute; }
  .new-note-btn:hover {
    background-color: #000; }
  .new-note-btn:focus {
    outline: 0; }

.note {
  background-color: #ffeb6e;
  height: 250px;
  width: 200px;
  padding: 10px;
  position: absolute;
  right: 100px;
  -webkit-box-shadow: 0px 5px 10px #666;
          box-shadow: 0px 5px 10px #666; }
  .note .close-btn {
    display: none;
    background-image: url(../images/remove.png);
    position: absolute;
    height: 30px;
    width: 30px;
    right: -15px;
    top: -15px; }
    .note .close-btn:active {
      background-image: url(../images/remove_pushed.png); }
  .note:hover .close-btn {
    display: block; }
  .note .timestamp {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    font-size: 0.8rem;
    background-color: rgba(0, 0, 0, 0.11);
    color: #000;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #cabc45;
    padding: 2px;
    text-align: center;
    color: #333; }

.colors {
  display: block;
  list-style: none;
  font-size: 0; }
  .colors li {
    font-size: 1rem;
    display: inline-block;
    height: 25px;
    width: 25px; }
