@import "colors";

%button-part {
  display: inline-block;
  width: 100%;
  color: $font-normal;
  text-align: center;
}

//PO DWUKROPKU WARTOSC DOMYSLNA
@mixin btn-base($color: $color-neutral) {
  @extend %button-part;
  //SAMO & OZNACZA PRZEPISANIE ZAWIERAJACEJ KLASY
  &,
  &:link,
  &:active,
  &:visited{
    @extend %button-part;
    //MOZLIWE ROZBICIE ELEMENTOW W ZAGNIEZDZENIE TAK SAMO NP FONT
    border: {
      style: solid;
      color: $color;
      radius: 4px;
      width: 1px;
    }
    background-color: $color;
  }

  &:disabled {
    background-color: $color-disabled;
    color: $font-disabled;
    border-color: $color-disabled;
  }

}

.btn-error {
  @include btn-base($color-error)
}

//UZYWA WARTOSCI DOMYSLNEJ
.btn-normal {
  @include btn-base();
}

.btn-ok {
  @include btn-base($color-ok)
}

