/*
-------------
INTRO (INDEX)
-------------
*/

.intro-wrap {
  width: 360px;
  margin-right: 60px;
  float: left
}

.premium-wrap {
  width: 300px;
  float: left;
  margin-top: 120px
}

.button-action {
  margin: 0;
  //Bo w button jest domyslnie bez sensu scale
  transform: scale(1, 1);
  color: $white-button-color;
  border-color: $action-border;
  //background-color: $action-color;
  @extend %action-gradient;
  transition: all 0.3s;
  &:hover {
    //transform: scale(0.90909090909090909090909090909091, 0.90909090909090909090909090909091);
    border-color: adjust_hue($action-border, -50%);
    //background-color: darken($action-color, 20%);
    @extend %action-gradient-hover;
  }
}