/*
------------
----NAV-----
------------
*/
nav {
  //NEGATYWNE X POWODUJE ZE ZACZYNA Z GORY
  //BOX SHADOW:: X Y BLUR COLOR
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  background-color: white;
  //FIXED DZIALA JAK RELATIVE ALE ELEMENT
  //NIE ZACHOWUJE SIE JAK BLOCK
  //MOZNA ROZCIAGAC JAK PONIZEJ
  position: fixed;
  //FIXED LACZY RELATIVE Z USTAIENIEM WZGLEDEM VIEWPORTU
  // (ZAWSZE, POMIJA RODZICOW RELATIVE)
  left: 0;
  right: 0;
  top: 0;
  //POSTION:
  // ABSOLUTE I FIXED POZWALAJA NA UZYWANIE TOP LEFT ITD
  // ABSOLUTE WZGLEDEM KONTENERA (BODY LUB PIERWSZEGO
  // NAPOTKANEGO RODZICA Z POSITION: RELATIVE
  // FIXED WZGLEDEM OKNA (SCROLLUJE SIE NA GORZE)
  figure {
    position: absolute;
    top: -40px;
    left: 50px;
    img {
      &:hover {
        animation: {
          name: sharkyRoll;
          duration: 1.5s;
          timing-function: linear;
        }
      ;
      }
    }
  }
}

@keyframes sharkyRoll {
  0% {
    transform: rotate(0deg)
  }
  20% {
    transform: rotate(30deg)
  }
  40% {
    transform: rotate(-30deg)
  }
  60% {
    transform: rotate(90deg)
  }
  80% {
    transform: rotate(180deg)
  }
  90% {
    transform: rotate(270deg)
  }
  100% {
    transform: rotate(360deg)
  }
}
.mobile-menu-icon{
  font-size: 3em;
  float: right;
  margin: 10px 20px 0 0;
  display: none;
  cursor: pointer;
}

.primary-nav {
  float: right;
  a {
    text-decoration: none;
  }

  list-style: none;
  > li {
    float: left;
    //display: block;
    &:first-child a {
      border-left: none;
    }
    &:nth-child(even) a {
      background-color: #a0ff9c;
    }
    &:nth-child(odd) a {
      background-color: #fffb99;
    }
    //JEST TEŻ nth-of-type()
    // 1 indexed (od 1 do n)
    &:nth-child(4) a {
      color: #000;
      font-weight: 700;
    }
    > a {
      position: relative;
      z-index: 100;
      float: left;
      padding: 25px 0;
      width: 150px;
      border-left: 1px solid #cc484c;
      &:hover {
        background-color: #cc484c;
        color: white;
      }
    }
  }
}

.has-sub-menu {
  transition: all 0.4s;
  ul {
    //Z INDEX TYLKO DO ABSOLUTE RELATIVE FIXES
    // I OPCJONALNIE OPACITY <1
    z-index: 10;
    position: absolute;
    top: 70px;
    width: 150px;
    border: 2px solid #DDD;
    border-top: 0;
    border-radius: 0 0 10px 10px;
    //BY DOLNY ELEMENT NIE PSUL ZAOKRAGLOWNYCH ROGOW
    //PODCZAS HOVERA : OVERFLOW HIDDEN
    overflow: hidden;
    display: none;

    background-color: white;
    li {
      a {
        position: relative;
        z-index: 5;
        display: block;
        padding: 25px 0;
        &:hover {
          background-color: #cc484c;
          color: white;
        }
      }
    }
  }

  //GENIALNE MOZNA MIESZAC W TAKI SPOSOB
  //TO POKAZUJE SUBMENU
  //SELEKTOR:
  //.has-sub-menu:hover ul
  &:hover ul {
    display: block;
    animation: {
      name: slideDown;
      duration: 0.5s;
      timing-function: ease;
    }
  }

  @keyframes slideDown {
    //MOZE BYC FROM i TO (start i koniec)
    0% {
      transform: translateY(-100%);
      opacity: 0
    }
    95% {
      transform: translateY(3%)
    }
    100% {
      transform: translateY(0%);
      opacity: 1
    }
  }

}

nav {
  li {
    a {
      font: {
        family: $arial;
        size: 15px;
      }
      text: {
        align: center;
        transform: uppercase;
      }
      transition: background-color 0.2s;
      color: #766e65;
    }
  }
}

@media screen and (max-width: 1023px) {
  nav figure {
    display: none;
  }
}

/*
------------------------------
 MENU MOBILNE
------------------------------*/
@media screen and (max-width: 900px) {
  .mobile-menu-icon {
    display: block;
  }
  nav {
    position: static;

    .primary-nav {
      width: 100%;
      //BEZ OVERFLLOW HIDDEN MIMO WYSKOSCI
      // 0 WSZYSTKO I TAK BYLO BY WIDZOCZNE :(
      height: 0;
      overflow: hidden;
      transition: all 0.4s;
//NAJLEPIEJ UZYWAC MAX-HEIGHT DO TEGO
      &.nav-active {
        height: 340px;
      }

      li {
        float: right;
        width: 100%;

        a {
          box-sizing: border-box;
          text-align: right;
          padding: 15px 25px 15px 0;
          width: 100%;
          border: {
            left: none;
            bottom: 1px solid #880000;
          }
          font-size: 13px;
        }
      }
    }

    .has-sub-menu {
      &:hover ul {
        animation: none;
      }

      ul {
        position: static;
        display: block;
        border: none;
        border-radius: 0;
        width: 100%;
      }
    }
  }
}