
section {
  margin: 50px;
}
h1 {
  font-size: 70px;
  line-height:1.4;
  font-weight: bold;
  color: $header-color;
}
h2 {
  font-size:26px;
  font-style: italic;
  color: $sub-header-color;
  margin-bottom: 10px;
}
p {
  font: normal normal 18px/1.6 Georgia, 'Times New Roman', serif;
}
.column-title {
  font-style: normal;
  color: $header-color;
  font-weight: bold;
}
